{% extends 'base.html.twig' %}

{% block title %}Félicitations {{ pokemonDresseur.idPokemon.nom }} ! {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/chasse/ville.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
                Votre pokémon {{ pokemonDresseur.idPokemon.nom }} a chassé dans la region {{ nomRegion }} et a capturé un {{ newPokemonDresseur.idPokemon.nom }} de niveau {{ niveau }}. Félicitations ! 
                <br><br>
                <div class="row">
                <div class="col-sm">
                <img src="{{ asset( pokemonDresseur.idPokemon.photo ) }}" class="img-fluid"> 
                </div>
                <div class="col-sm">
                <img src="{{ asset('images/logo_pokeball/logo_pokeball1.png') }}" class="img-fluid2"> 
                </div>
                <div class="col-sm">
                <img src="{{ asset( newPokemonDresseur.idPokemon.photo ) }}" class="img-fluid"> 
                </div>
            </div>
        </div>
{% endblock %}