{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
            <h1 class="fw-light"><b>Bienvenue dans un monde peuplé de créatures étranges nommées Pokémons !</b></h1>
    </div>
    <img class="img-fluid" src="{{ asset('images/home/home2.png') }}">
    <div>
  </section>
  <div class="container m-5">
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/mes-pokemons.png') }}">
            <div class="card-body h-75 d-inline-block" >
              <h4>Mes pokémons</h4>
              <p class="card-text">Ici, vous pouvez admirer la liste des pokemons que vous avez attrapé mais également d'effectuer diverses activités avec eux.  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_mes_pokemons') }}" class="nav-link px-2 text-white">Mes Pokémons</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/pokedex.png') }}">
            <div class="card-body">
              <h4>Pokédex</h4>
              <p class="card-text">Sur cette interface, vous pourrez contempler l'ensemble des pokemons disponibles ainsi que leurs informations générales.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_list_index') }}" class="nav-link px-2 text-white">Pokédex</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/pokedex-grise.gif') }}">
            <div class="card-body">
              <h4>Mon Pokédex</h4>
              <p class="card-text">Cet outil permet de suivre l'avancement de votre aventure Pokemon en visualisant les pokemons qu'il vous reste à attraper.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_list_pokedex') }}" class="nav-link px-2 text-white">Mon Pokédex</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/entrainement.png') }}">
            <div class="card-body">
              <h4>Entraînement</h4>
              <p class="card-text">Vous pouvez entrainer votre pokemon à condition qu'il ne soit pas fatigué, résultant en gain d'expérience dépendant du niveau du pokémon qui part s'entraîner. Cela peut aboutir à un gain de niveau voire même à une évolution du pokémon. Il n'est évidemment pas possible d'entraîner des pokémons qui n'appartiennent pas à l'utilisateur courant.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_entrainement') }}" class="nav-link px-2 text-white">Entraînement</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/chasse.png') }}">
            <div class="card-body">
              <h4>Chasse</h4>
              <p class="card-text">Vous pouvez sélectionner un pokemon, à condition qu'il ne soit pas fatigué, afin d'aller chasser dans une région spécifique et d'y capturer un pokemon dont le niveau dépend de celui de notre pokemon choisi. Il n'est évidemment pas possible d'entraîner des pokémons qui n'appartiennent pas à l'utilisateur courant. Si vous capturez un NidoranF ou un NidoranM ou une de leurs évolutions, il seront nécessairement respectivement Mâle et Femelle.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_chasse_index') }}" class="nav-link px-2 text-white">Chasse</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/peche.png') }}">
            <div class="card-body">
              <h4>Pêche</h4>
              <p class="card-text">Trois choix de canne à pêche s'offrent à vous. Ces cannes à pêche de rareté différente ont toutes un prix différent et permettent de gagner différentes récompenses. Comme de l'argent, ou un ou plusieurs pokémons eau, ou bien encore une chaussette pourrie. Il n'est évidemment pas possible de pêcher si l'argent n'est pas suffisant.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_peche_index') }}" class="nav-link px-2 text-white">Pêche</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/combat.png') }}">
            <div class="card-body">
              <h4>Combat</h4>
              <p class="card-text">Vous pouvez sélectionner un pokémon qui n'est pas fatigué afin de combattre, un choix entre trois pokémons de niveau différent et dépendant du pokémon combattant, dont la probabilité de victoire ainsi que les gains d'expérience et d'argent dépenderont. Le pokémon pourra alors en cas de victoire gagner un niveau ou même évoluer. Il n'est évidemment pas possible d'aller combattre avec un pokémon qui ne nous appartient pas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_combat_index') }}" class="nav-link px-2 text-white">Combat</a></button>
                </div>
                <small class="text-muted">Combat</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/achat.png') }}">
            <div class="card-body">
              <h4>Market</h4>
              <p class="card-text">Vous pouvez accéder à un marché Pokémon qui permet de voir tous les pokemons vendus par les autres dresseurs avec les informations concernant celui-ci ainsi que son prix. Om vous est également possible d'acheter ces pokémons si vous possédez assez d'argent. Une fois le pokémon acheté le pokémon vous appartiendra et ne sera plus en vente. Il n'est évidemment pas possible d'acheter un de nos propres pokémons.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_market_list') }}" class="nav-link px-2 text-white">Achat</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/vente.png') }}">
            <div class="card-body">
              <h4>Vente</h4>
              <p class="card-text">Une interface de vente qui permet de vendre ses pokémons à la vente mais également d'accéder à l'historique des ventes terminées et de celles en cours. Il est également possible d'annuler une vente en cours. Il n'est évidemment pas possible de vendre un pokémon qui ne nous appartient pas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('app_vente_new') }}" class="nav-link px-2 text-white">Vente</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/starter.png') }}">
            <div class="card-body">
            <h4>Choix Starter</h4>
              <p class="card-text">Le choix du starter est proposé au dresseur dès que son compte est crée, s'il ne choisit pas directement et préfère se déconnecter, à sa reconnection il sera à nouveau redirigé vers la page de choix du starter. Cette page n'est disponible uniquement une seule et unique fois, une fois récupéré il ne sera plus jamais possible de retourner sur la page choixStarter.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/admin.png') }}">
            <div class="card-body">
              <h4>Administrateur</h4>
              <p class="card-text">Si vous êtes Administrateur du site, cela vous permet de pouvoir gérer tous les CRUD (Create Read Update Delete) de toutes les tables de la base de données.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-success"><a href="{{ path('admin') }}" class="nav-link px-2 text-white">Administration</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid rounded-top" src="{{ asset('images/home/evolution.png') }}">
            <div class="card-body">
              <h4>Évolution</h4>
              <p class="card-text">Le système d'évolution est implémenté au niveau des combats et de l'entrainement qui sont les deux moyens de gagner de l'expérience et de gagner un niveau, dés que le niveau requis est atteint le pokemon évolue, dans le cas d'Évoli il a 1 chance sur 3 d'évoluer en Aquali, Pyroli ou Voltali. </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
