{% extends 'base.html.twig' %}

{% block title %}Hello MesPokemonsController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/mesPokemons/index.css') }}">
{% endblock %}
{% block body %}
<div class="container">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <td class="td-img">
                    Image
                </td>
                <td>
                    Nom
                </td>
                <td>
                    Surnom
                </td>
                <td>
                    Niveau
                </td>
                <td>
                    Actions
                </td>
            </tr>
        {% for pokemon in pokemonDresseur %}
                <tr>
                    <td class="text-center">
                        <a href="{{ path('app_modify_pokemon', {id:pokemon.id}) }}">
                        <img src="{{ asset( pokemon.idPokemon.photo ) }}" class="img-fluid"></img>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_modify_pokemon', {id:pokemon.id}) }}">
                        {{ pokemon.idPokemon.nom }}
                        </a>
                    </td>
                    <td>
                        {{ pokemon.surnom }}
                    </td>
                    <td>
                        {{ pokemon.getNiveau() }}
                    </td>
                    <td>
                        <a href="{{ path('app_chasse_choix_region', {id:pokemon.id}) }}">
                        <button type="button" class="btn btn-success m-1">Chasser</button>
                        </a>
                        </br>
                        <a href="{{ path('app_entrainement_pokemon', {id:pokemon.id}) }}">
                        <button type="button" class="btn btn-info m-1">S'entraîner</button>
                        </a>
                        </br>
                        <a href="{{ path('app_combat_choix', {id:pokemon.id}) }}">
                        <button type="button" class="btn btn-danger m-1">Combattre</button>
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </table>
</div>




{% endblock %}
