{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pokemon.nom }}</td>
            </tr>
            <tr>
                <th>Is_evolution</th>
                <td>{{ pokemon.isEvolution ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_starter</th>
                <td>{{ pokemon.isStarter ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type_courbe_niveau</th>
                <td>{{ pokemon.typeCourbeNiveau }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ pokemon.photo }}</td>
            </tr>
            <tr>
                <th>Can_evolve</th>
                <td>{{ pokemon.canEvolve ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pokemon_index') }}">back to list</a>

    <a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
