{% extends 'base.html.twig' %}

{% block title %}Hello MarketController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
                <div class="col">
                        id Vente :
                        {{ vente.id }}
                </div>
                <div class="col">
                        Nom :
                        {{ vente.idPokemonDresseur.idPokemon.nom }}
                </div>
                <div class="col">
                        Prix :
                        {{ vente.prix }}
                </div>
                <div class="col">
                        Niveau :
                        {{ niveau }}
                </div>
                <div class="col">
                    <a href="{{ path('app_market_achat', {id:vente.id}) }}">
                        <button type="button" class="btn btn-primary">Acheter</button>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}
