{% extends 'base.html.twig' %}

{% block title %}Nouvelle Vente{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/vente/new.css') }}">
{% endblock %}

{% block body %}
<div class="container justify-content-center" >
    {{ form_start(form) }}
        <div class="form-group col-md-6">
            {{ form_row(form.prix) }}
        </div>
        <br>
        <div class="form-group col-md-4">
        <label>Quel pokémon souhaitez-vous vendre ?</label>
            {{ form_widget(form.pokemonDresseur) }}
        </div>
        <br>
        <div class="btn btn-link">
            {{ form_row(form.create) }}
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
