{% extends 'base.html.twig' %}

{% block title %}
    Entraînement Réussi
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/entrainement/resultat.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
                {% if has_evolved %}
                <div class="row mb-5">
                <h4>Félicitation votre pokemon {{ ancienNomPoke }} a évolué en {{ pokemonDresseur.idPokemon.nom }}. Il a gagné {{ exp_gagne }} exp. Son ancien niveau était {{ ancienNiveau }} et son niveau actuel est {{ niveau }}. Il possède désormais {{ pokemonDresseur.exp }} exp.<h4>
                </div>
                <div class="row justify-content-center">
                <img src="{{ asset( anciennePhoto ) }}" class="img-fluid img-evolue1 img-pokemon">
                <img src="{{ asset( pokemonDresseur.idPokemon.photo ) }}" class="img-fluid img-evolue2 img-pokemon">  
                </div>  
                {% else %}
                <div class="row mb-5">
            <h4>Votre pokemon {{ pokemonDresseur.idPokemon.nom }} a gagné {{ exp_gagne }} exp. Son ancien niveau était {{ ancienNiveau }} et son niveau actuel est {{ niveau }}. Il possède désormais {{ pokemonDresseur.exp }} exp !</h4>
                </div>
                <br><br>
                <div class="row justify-content-center">
                <img src="{{ asset( pokemonDresseur.idPokemon.photo ) }}" class="img-fluid img-notEvolve img-pokemon"> 
                </div>
                {% endif %}
    </div>
{% endblock %}
