{% extends 'base.html.twig' %}

{% block title %}Hello EntrainementController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if has_evolved %}
                Félicitation votre pokemon {{ ancienNomPoke }} a évolué en {{ pokemonDresseur.idPokemon.nom }}. Il a gagné {{ exp_gagne }}. Son ancien niveau était {{ ancienNiveau }} et son niveau actuel est {{ niveau }}. Il possède désormais {{ pokemonDresseur.exp }}.
                {% else %}
                Votre pokemon {{ pokemonDresseur.idPokemon.nom }} a gagné {{ exp_gagne }}. Son ancien niveau était {{ ancienNiveau }} et son niveau actuel est {{ niveau }}. Il possède désormais {{ pokemonDresseur.exp }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
