{% extends 'base.html.twig' %}

{% block title %}Liste des pokémons{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/listPokemon.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <td>
                    #
                </td>
                <td class="text-center">
                    Image
                </td>
                <td>
                    Nom
                </td>
                <td>
                    Type 1
                </td>
                <td>
                    Type 2
                </td>
                <td>
                    Evolution
                </td>
                <td>
                    Starter
                </td>
                <td>
                    Courbe Niveau
                </td>
                <td>
                    Peut évoluer
                </td>
            </tr>
        {% for pokemon in pokemons %}
                <tr>
                    <td>
                        <a href="{{ path('app_list_pokemon', {nom:pokemon.nom}) }}">
                        {{ pokemon.id }}
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_list_pokemon', {nom:pokemon.nom}) }}">
                        <img src="{{ asset( pokemon.photo ) }}" class="img-fluid img-poke"></img>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_list_pokemon', {nom:pokemon.nom}) }}">
                        {{ pokemon.nom }}
                        </a>
                    </td>
                    <td>
                        {{ pokemon.idType1.nom }} : 
                        <img src="{{ asset( 'images/type/'~pokemon.idType1.nom~'.png' ) }}" class="img-fluid img-logo-type"></img>
                    </td>
                    <td>
                        {% if pokemon.idType2 %}
                        {{ pokemon.idType2.nom }} : 
                        <img src="{{ asset( 'images/type/'~pokemon.idType2.nom~'.png' ) }}" class="img-fluid img-logo-type"></img>
                        {% else %}

                        {% endif %}
                    </td>
                    <td>
                        {% if pokemon.isEvolution == true %}
                        Oui
                        {% else %}
                        Non
                        {% endif %}
                    </td>
                    <td>
                        {% if pokemon.isStarter == true %}
                        Oui
                        {% else %}
                        Non
                        {% endif %}
                    </td>
                    <td>
                        {{ pokemon.typeCourbeNiveau }}
                    </td>
                    <td>
                        {% if pokemon.canEvolve == true %}
                        Oui
                        {% else %}
                        Non
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
