{% extends 'base.html.twig' %}

{% block title %}Hello ChoixStarterController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/choixStarter.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mb-5"
            <p>
                Veuillez choisir votre starter :
            </p>
        </div>
    </div>
    <table class="table">

        {% for pokemon in starter_pokemon %}
        <th class="table-info">
        <a href="{{ path('app_add_starter', {id:pokemon.id}) }}" class="choixStarter">
            <div class="col-1">
                {{ pokemon.nom }}
            </div>
            </th>
             {% endfor %}
        </tr>
    <div class="row justify-content-md-center">
        {% for pokemon in starter_pokemon %}
        <th>
            <div class="col-3">
                <a href="{{ path('app_add_starter', {id:pokemon.id}) }}">
                <img class="img-fluid" src="{{ asset( pokemon.photo ) }}">
                </img>
            </div>
        </a>
        </th>
        
        {% endfor %}
        </tr>
    </div>
    </tbody>
    </table>
</div>
{% endblock %}
