{% extends 'base.html.twig' %}

{% block title %}Hello ChoixStarterController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/choixStarter/choixStarter.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mb-5">
            <h2>
                Veuillez choisir votre starter :
            </h2>
        </div>
    </div>
    <div class="row justify-content-center">
    {% for pokemon in starter_pokemon %}
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded m-5" style="width: 18rem;">
                        <img class="card-img-top border-bottom" src="{{ asset( pokemon.photo ) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ pokemon.nom }}</h5>
                            <p>
                                <img src="{{ asset( 'images/type/'~pokemon.idType1.nom~'.png' ) }}" class="img-fluid img-logo-type"></img>
                                {% if pokemon.idType2 %}
                                <img src="{{ asset( 'images/type/'~pokemon.idType2.nom~'.png' ) }}" class="img-fluid img-logo-type"></img>
                                {% endif %}
                            </p>
                            <a href="{{ path('app_add_starter', {id:pokemon.id}) }}" class="btn btn-success">Choisir ce starter</a>
                        </div>
                    </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
